body {
  margin: auto;
  padding: 0px 40px 60px 60px;
  background: #218f76;
}
h3 {
  font-family: sans-serif;
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: normal;
  color: #fff;
}
.form {
  background-color: #fff;
  padding: 20px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 10px;
}
#outputView {
  display: none;
  flex-direction: column;
  margin-top: 20px;
  background-color: #fff;
}
.outputHeading {
  display: flex;
  flex-direction: row;
  background: #f5f5f5;
  padding: 12px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  font-weight: 500;
}
.outputContent {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  padding: 12px 20px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #ccc;
}
#op {
  margin: 0px;
  font-weight: normal;
  font-family: sans-serif;
  width: 100%;
  word-wrap: break-word;
}
#opimg {
  display: none;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

input[type='text'] {
  width: 100%;
  padding: 10px 14px;
  margin: 8px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
#font_size {
  background: #fff;
}
.button {
  width: 80px;
  height: 40px;
  background-color: #ec322c;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background: #cb0000;
}
